<div
  class="p-12"
  {{did-insert this.setupAndStart}}
  {{did-update this.setupAndStart @mode}}
  ...attributes
>
  {{#if this.chosenItem}}
    Done
  {{else}}
    {{#if (eq @mode 'random')}}
      <div class="text-xl font-bold" {{on-key this.player.randomKey this.chooseItem}}>
        {{this.item}}
      </div>
    {{else}}
      <div
        class="flex"
        {{on-key this.player.rockKey this.chooseRock}}
        {{on-key this.player.paperKey this.choosePaper}}
        {{on-key this.player.scissorKey this.chooseScissor}}
      >
        <div class="w-24 px-4 py-2 bg-cyan-100 text-cyan-900 text-center">
          <div class="text-md font-semibold">Rock</div>
          <div class="text-sm text-cyan-700">key: <span class="font-bold">{{this.player.rockKey}}</span></div>
        </div>
        <div class="w-24 ml-2 px-4 py-2 bg-cyan-100 text-cyan-900 text-center">
          <div class="text-md font-semibold">Paper</div>
          <div class="text-sm text-cyan-700">key: <span class="font-bold">{{this.player.paperKey}}</span></div>
        </div>
        <div class="w-24 ml-2 px-4 py-2 bg-cyan-100 text-cyan-900 text-center">
          <div class="text-md font-semibold">Scissors</div>
          <div class="text-sm text-cyan-700">key: <span class="font-bold">{{this.player.scissorKey}}</span></div>
        </div>
      </div>
    {{/if}}
  {{/if}}
</div>